body {
    margin: 30px auto; /* Adjusted margin for better spacing */
    width: 90%; /* Increased width for better readability */
    max-width: 900px; /* Added max-width to prevent excessive stretching on larger screens */
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
    color: #353563;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 10px; /* Reduced margin for tighter spacing */
    color: #353563;
}

a {
    text-decoration: none;
    color: #353563;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
    color: #353563;
}

h2 {
    font-size: 1.5em;
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
    color: #353563;
}

p {
    font-size: 1.2em; /* Reduced font size for better readability */
    line-height: 1.6em; /* Increased line height for better spacing */
    color: #353563;
}

footer {
    border-top: 1px solid #353563;
    font-size: 1em; /* Reduced font size for better fitting */
    color: #353563;
    padding-top: 20px; /* Added padding for better spacing */
    text-align: center; /* Center-align footer content */
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.2em; /* Reduced font size for better fitting */
}

ul.posts li {
    list-style: none;
}

/* Adjust the font size for list items */
ul, ol {
    font-size: 1.2em; /* Example size, adjust as needed */
}

.google-form-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
}

.google-form-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Add the following rule to optimize images */
img {
    max-width: 100%;
    height: auto; /* Ensures the image maintains its aspect ratio */
}
