body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
}
nav ul, footer ul {
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #353563;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #353563;
}
a {
    text-decoration: none;
    color: #353563;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
}
h2 {
    font-size: 3em;
    font-family: 'Ruluko', sans-serif; /* Using Ruluko font */
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #353563;
}
footer {
    border-top: 1px solid #353563;
    font-size: 1em;
    color: #353563;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
