<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- link to Google Fonts - Ruluko -->
    <link href="https://fonts.googleapis.com/css2?family=Ruluko&display=swap" rel="stylesheet">
    <style>
        /* Additional styles can be added here if needed */
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/weddingdetails">Wedding Details</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a href="/qa">Q&A</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:christina.ladam@gmail.com">Email Chrissy</a></li>
            <li><a href="mailto:julienmiller11@gmail.com">Email Julien</a></li>
        </ul>
    </footer>
</body>
</html>

