<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/details">Wedding Details</a></li>
		        	<li><a href="/rsvp">RSVP</a></li>
	        		<li><a href="/qa">Q&A</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:christina.ladam@gmail.com">Email Chrissy</a></li>
	        		<li><a href="mailto:julienmiller11@gmail.com">Email Julien</a></li>
				</ul>
			</footer>
		</body>
	</html>
